/*
 * GERAL 
 */

/*
 * 11.1. Fonte do HTML
 *	Fonte: Tahoma
 *	Estilo: Regular
 *	Tamanho: 10 pixels
 *	Cor: #52514F
 */
html {
	font-family: Tahoma;
	font-weight: normal;
	font-size: 10px;
	color: #52514F;
}

/************************* 
 * CABE�ALHO 
 *************************/

/*
 * 11.2. Sauda��o
 * Fonte: Tahoma
 * Estilo: Regular
 * Tamanho: 10 pixels
 * Cor: #ffffff
 */
.saudacao {
	color: #FFFFFF;
}

/*
 * 11.3. T�tulo do Sistema (imagem)
 * Fonte: Frutiger
 * Estilo: 67 Bold Condensed
 * Tamanho: 6 pontos
 */
.titulo-sistema {
	font-family: Frutiger, "Frutiger Linotype", 'Myriad Pro', Myriad, 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;
	font-weight: bold; /* 67 Bold Condensed*/
	font-size: 20pt;
	color: #FFFFFF;
	padding-right: 10px;
}

/*
 * 11.4. Nome do Sistema (imagem)
 * Fonte: Frutiger
 * Estilo: 47 Light Condensed
 * Tamanho: 3,95 pontos
 * Cor: #ffffff
 */
.nome-sistema {
	font-family: Frutiger, "Frutiger Linotype", 'Myriad Pro', Myriad, 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;
	font-weight: lighter; /* 67 Bold Condensed*/
	font-size: 14pt;
	color: #FFFFFF;
}


/*
 * 11.5. Aba Ativa
 * Fonte: Tahoma
 * Estilo: Bold
 * Tamanho: 10 pixels
 * Cor: #777777
 */
.aba-ativa {
	font-weight: bold;
	color: #777777;
}

/* 
 * 11.6. Aba Inativa
 * Fonte: Tahoma
 * Estilo: Bold
 * Tamanho: 11 pixels
 * Cor: #9DBEDD 
 */
.aba-inativa {
	font-size: 11px;
	color: #9DBEDD;
}

/* 
 * 11.7 . Navegabilidade
 * Este recurso deve ser implementado utilizando link nos t�tulos para facilitar a navega��o ao sistema.
 * Voc� est� aqui: 
 */
.voce {
	font-family: Tahoma;
	font-size: 9px;
	color: #666666;
}

/* Consulta Registro: */
.consulta {
	font-family: Tahoma;
	font-size: 9px;
	color: #989797;
}

/* Relat�rio: */
.relatorio {
	font-family: Tahoma;
	font-size: 11px;
	color: #026A37;
}


/***************************
 * MENU
 ***************************/


/*
 * 11.8. Links
 * 9.8.1. Menu (T�tulo)
 * Fonte: Tahoma
 * Estilo: Bold
 * Tamanho: 10 pixels
 * Cor: #685551
 */
.menu-titulo > a > span {
	font-weight: bold;
	color: #52514F;/* color: #685551; */
	font-size: 20px;
	margin-right: 8px;
}

/*
 * 9.8.1. Menu (T�tulo)
 * On mouse over:
 * Fonte: Tahoma
 * Estilo: Bold
 * Tamanho: 10 pixels
 * Cor: #9DBEDD
 * Background-color: #EFEFF1
 */
.menu-titulo > li > a:hover {
	font-weight: bold;
	color: #9DBEDD;
	background-color: #EFEFF1;
}

/*
 * 9.8.2. Menu (Sub-T�tulo)
 * Fonte: Tahoma
 * Estilo: Regular
 * Tamanho: 10 pixels
 * Cor: #685551
 */
.menu-subtitulo > li > a {
	font-weight: normal;
	color: #685551;
}

/*
 * 9.8.2. Menu (Sub-T�tulo)
 * On mouse over:
 * Fonte: Tahoma
 * Estilo: Bold
 * Tamanho: 10 pixels
 * Cor: #9DBEDD
 * Background-color: #EFEFF1
 */
 .menu-subtitulo > li > a:hover {
	font-weight: bold;
	color: #9DBEDD;
	background-color: #EFEFF1;
}


/* 
9.8.3. Texto
*/
a:link {
	font-family: Tahoma;
	font-size: 11px;
	color: #9DBEDD;
	text-decoration: none;
}

a:hover {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
}

a:active {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
}

a:visited {
	font-family: Tahoma;
	font-size: 11px;
	/*color: #9DBEDD;*/
	color: #000000;
	text-decoration: none;
}



/*************************
 * RODAPE
 *************************/
 /* 11.13. Rodap� */
.rodape {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
}


.linkbotao {    
   font-family: verdana, arial, sans-serif; 
   font-size: 13pt; 
   font-weight: bold; 
   padding: 6px !important; 
   width: 100px !important;
   text-align: center;
   background-color: #D3E6FF; 
   color: #000000 !important; 
   text-decoration: none; 
} 

.linkbotao:link, 
.linkbotao:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 

.linkbotao:hover { 
   border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666; 
}

.required:AFTER{
  content:" *";
  color:red;
  font-weight:bold;
} 

.ui-picklist .ui-picklist-list{
	height: 300px;
	width: 300px;
	margin-left: 15px;
}

.ui-picklist .ui-picklist-filter {
    padding-right: 15px;
    width: 95%;
    margin-left: 15px;
}

.ui-picklist .ui-picklist-caption{
	text-align: center;
    padding: 4px 10px 4px 10px;
    border-bottom: 0px none;
    margin-left: 15px;	
}

.ui-picklist .ui-picklist-buttons{
	vertical-align: middle;
	width: 100%;
}

.ui-panel-titlebar-centralizado {
	text-align: center;
}

.ui-treenode-label{
	text-transform:uppercase;
	font-size: 10pt
}

.ui-tree .ui-tree-container {
    margin: 0;
    padding: 3px;
	max-height: 350px;
    white-space: nowrap;
    overflow: auto;
}

.filtros-margin-padding {	
	margin-left: 15px; 
	padding: 4px 4px !important"
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #fff;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    /* -webkit-box-shadow: inset 0 2px 2px #8f8f8f; */
    /* box-shadow: inset 0 2px 2px #8f8f8f; */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px solid #ccc;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
    border-style: hidden !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.ui-datalist-data .ui-datalist-nobullets{	
	padding: 10px !important;	
}


.linkbotaoConfirmacao {    
   font-family: verdana, arial, sans-serif; 
   font-size: 14px !important; 
   font-weight: bold; 
   min-width: 80px;
   padding: 6px !important;   
   text-align: center;
   background-color: #D3E6FF; 
   color: #000000 !important; 
   text-decoration: none; 
} 

.linkbotaoConfirmacao:link, 
.linkbotaoConfirmacao:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 

.linkbotaoConfirmacao:hover { 
   border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666; 
}

